<div class="title">
  <h1>Search Results for: <%=@term%></h1>
</div>
<div class="nasa-search-results">
  <% @presenter.images.each do |image| %>
    <ul class="image">
      <li class="title"><%= image.title %></li>
      <li class="image"><%= image_tag(image.image) %></li>
      <li class="description">Description: <%= image.description %></li>
      <li class="date">Date Taken: <%= image.date %></li>
    </ul>
    <% end %>
</div>

<div class="title">
  <h1>Most recent Tweets from NASA about: <%=@term%></h1>
</div>
<div class="twitter-search-results">
<% @tweets.each do |tweet| %>
  <ul class="tweet">
    <li class="text"><%= tweet.text %></li>
  </ul>
  <% end %>
</div>