<div class="main-img">
  <%= image_tag(@pod.image_url) %>
  <% if @favorite %>
    <%= link_to "Remove from Favorites", favorite_path(@favorite.id), method: :delete %>
  <% else %>
    <%= link_to "Add to Favorites", favorites_path(favorite: {pic_of_day_id: @pod.id}), method: :post %>
  <% end %>
</div>

<div class="tweets">
  <% @tweets.each do |tweet| %>
    <ul class="tweet">
      <li class="time"><%= formatted_tweet_date(tweet) %></li>
      <li class="text"><%= tweet.text %></li>
    </ul>
  <% end %>
</div>

<div class="search-form">
  <%= form_with url: '/search', method: :get, local: true do |f| %>
    <%= f.label :q, "Search for:" %>
    <%= f.text_field :q, id: :q %>
    <%= f.submit "Search" %>
<% end %>
</div>
